.bottom{
	margin-top: 10vh;
	font-size: 60px;
	width: 30px;
	color: blue;
}

.bottom1{
	font-size: 20px;
	display: flex;
	justify-content: center;
}

.ff{
	margin-top: 10vh;
}

.gen{
	margin-top: 5vh;
	margin-left: 1vh;
	margin-right: 1vh;
}

.top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
}

.top1{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 30px;
	color: #b50404;
	font-weight: bold;
}


.mainImg{
	width: 100%;
}


.line{
	height: 1px;
	width: 40vh;
	background-image: url("../assets/banner3.jpg");
}

.head{
	margin-top: 5vh;
	margin-bottom: 5vh;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
